.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin-bottom: 3rem;
}

.toggle-switch {
  position: relative;
  width: 4rem;
  margin-bottom: 1.6rem;
}

label {
  position: absolute;
  width: 100%;
  height: 1.8rem;
  background-color: #281e39;
  border-radius: 50px;
  cursor: pointer;
}

.toggle {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.5s;
}

input:checked ~ .slider {
  background-color: #e4d5ed;
}

.slider::before {
  content: "";
  position: absolute;
  top: .26rem;
  left: .4rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  box-shadow: inset .4rem -.25rem 0rem 0rem #e4d5ed;
  background-color: #281e39;
  transition: 0.5s;
}

input:checked ~ .slider::before {
  transform: translateX(2.1rem);
  background-color: #281e39;
  box-shadow: none;
}

h1 {
  color: hsl(0, 0%, 98%);
  letter-spacing: 1rem;
  font-size: 2.75rem;
}
