* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#root {
  display: grid;
}

@media (prefers-color-scheme: dark) {
  body {
    color: hsl(0, 0%, 98%);
    background-color: hsl(235, 21%, 11%);
  }

  .header-img {
    background: url('./components/Header/assets/bg-desktop-dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
    max-width: 100%;
    padding: 10rem 0;
  }
}
