.new-item {
  display: flex;
  align-items: center;
}

.new-content {
  width: 100%;
  border: none;
  outline: none;  
  padding: 1rem;
  border-radius: .5rem;
}

.plus-component {
  margin-left: -2rem;
}

.todo-list {
  display: flex;
  flex-direction: column;
  
  border-radius: .5rem;
  margin-top: 1.5rem;
}

.list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  border-bottom: 2px solid hsl(234, 11%, 52%);
}

.todo-task {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.task-content {
  text-align: center;
  padding-right: 1rem;
}

.plus-component,
.x-component,
.todo-task,
.clear {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-radius: .5rem;
  margin-top: 1rem;
  padding: 1rem;
}

.clear:hover {
  color: hsl(235, 8%, 72%);
}
