:root {  
  color-scheme: light dark;

  --color-light-background: hsl(0, 0%, 98%);
  --color-light-texts: hsl(236, 8%, 41%);
  --color-light-lists: hsl(236, 33%, 92%);

  --color-dark-background: hsl(235, 21%, 11%);
  --color-dark-texts: hsl(0, 0%, 98%);
  --color-dark-lists: hsl(235, 24%, 19%);

  color: var(--color-light-texts);
  background-color: var(--color-light-background);
}

.new-item {
  display: flex;
  align-items: center;
}

.new-content {
  background-color: var(--color-light-lists);
  color: var(--color-light-texts);

  width: 100%;
  border: none;
  outline: none;  
  padding: 1rem;
  border-radius: .5rem;
}

.ph-plus {
  margin-left: -2rem;
  cursor: pointer;
}
